[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.9.4"
cmake = "==3.29.0.1"
docx2txt = "==0.8"
Flask = "==3.0.3"
Flask-Cors = "==3.0.10"
gunicorn = "==22.0.0"
jq = "==1.7.0"
langchain = "==0.1.13"
langchain-community = "==0.0.29"
langchain-openai = "==0.1.1"
langchain-pinecone = "==0.0.3"
langchain-text-splitters = "==0.0.1"
langchainhub = "==0.1.15"
matplotlib = "==3.8.3"
meilisearch = "==0.31.1"
numpy = "==1.26.4"
openai = "==1.14.3"
pandas = "==2.2.1"
pinecone-client = ">=3.1.0"
pipenv = ">=2023.12.1"
pyarrow = ">=11.0.0"
pypdf = "==4.1.0"
python-dotenv = "==1.0.1"
pyyaml = "==6.0.1"
requests = "==2.31.0"
tiktoken = "==0.6.0"
unstructured = "==0.11.8"
uvicorn = "==0.15.0"

[dev-packages]

[requires]
python_version = "3.11.9"
python_full_version = "3.11.9"
